[rewrite_local]
#模拟假条列表
^https?:\/\/gwwzxy\.chd\.edu\.cn\/leave2\/mobile\/student\/leave\/getMyLeavesList\?page=1&size=10 url script-response-body https://raw.githubusercontent.com/zhacha222/wzxy_leave_qx/main/js/getMyLeavesList.js
#模拟假条凭证
^https:\/\/gwwzxy\.chd\.edu\.cn\/leave2\/mobile\/student\/leave\/getProof\?leavesId=[0-9]+ url script-response-body https://raw.githubusercontent.com/zhacha222/wzxy_leave_qx/main/js/getProof.js
#模拟假条详细信息
^https?:\/\/gwwzxy\.chd\.edu\.cn\/leave2\/mobile\/student\/leave\/getLeavesInfo\?leavesId=[0-9]+ url script-response-body https://raw.githubusercontent.com/zhacha222/wzxy_leave_qx/main/js/getLeavesInfo.js

[mitm] 
hostname = gwwzxy.chd.edu.cn
